html,
body,
#viewDiv {
  height: 97%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer {
    background-color: rgb(235, 232, 229);
}

#tableDiv{
    padding: 0;
    margin: 0;
    width: auto;
    height: 500px;
}